body {
    margin: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}


hr {
  border: none;
  border-top: thick dotted #EAF6F6;
  height: 5px;
  width: 10%;
}

h1{
  width : 10%;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 3rem; 
  color:#66BFBF;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color : #11999E;
}
p {
  color : #40514E;
}

a{
  margin: 10px 20px;
  text-decoration: none;
}

/*  ################ class styling ############### */


.top-container {
  background-color: #78DEC7;


}

.copyright{
  color : #EAF6F6;
  font-size: 0.75rem;
}
.feel {
  font-weight: normal;
}

.text-color {
  color: #66BFBF;
}

.middle-container {

/*  position: absolute;
  left: 200px;
*/

}

.bottom-container {
  background-color: #66BFBF;
  padding-bottom: 20px;

}

.feel {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  left: 250px;
}
.bottom-cloud {
  position :absolute;
  right: 250px;
}

.skill-comp {
  width : 25%;
  float : left;
  margin-right: 20px; 
}

.skill-chill {
  width: 25%;
  float : right;
  margin-left : 30px;
  height: 224px;
}

.skills {
  margin-bottom: 60px;
}
.skill-row {
  width: 50%;
  margin : auto;
  text-align: left;
  line-height: 2;
}

.skill-row1 {
  width: 50%;
  margin : auto;
  text-align: right;
  line-height: 2;
  padding-bottom: 20px;
}